{% extends 'base.html' %} {% block title %}Search Results{% endblock %} {% block
body %}
<h1>Search Results for "{{ search_query }}"</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Number</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
    <tr>
      <td>{{ payment.id }}</td>
      <td>{{ payment.company_name }}</td>
      <td>{{ payment.amount }}</td>
      <td>{{ payment.payment_number }}</td>
      <td>{{ payment.formatted_date() }}</td>
      <td>
        <div class="btn-group">
          <a
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editPaymentModal{{ payment.id }}"
            data-bs-paymentid="{{ payment.id }}"
            >Edit</a
          >
          <form
            action="{{ url_for('delete', payment_id=payment.id) }}"
            method="post"
            style="display: inline"
          >
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    <div
      class="modal fade"
      id="editPaymentModal{{ payment.id }}"
      tabindex="-1"
      aria-labelledby="editPaymentModalLabel{{ payment.id }}"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPaymentModalLabel{{ payment.id }}">
              Edit Payment
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="{{ url_for('edit', payment_id=payment.id) }}"
              method="POST"
            >
              <div class="form-group row">
                <label for="company_name" class="col-auto col-form-label"
                  >Company Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="company_name"
                  name="company_name"
                  value="{{ payment.company_name }}"
                  required
                />
              </div>
              <div class="form-group row">
                <label for="amount" class="col-auto col-form-label"
                  >Amount</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="amount"
                  id="amount"
                  value="{{ payment.amount }}"
                  required
                />
              </div>
              <div class="form-group row">
                <label for="payment_number" class="col-auto col-form-label"
                  >Payment Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="payment_number"
                  id="payment_number"
                  value="{{ payment.payment_number }}"
                  required
                />
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-dark btn-lg" type="submit">
                  Save
                </button>
                <a
                  class="btn btn-outline-danger btn-lg"
                  href="{{ url_for('index') }}"
                  >Cancel</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
